wandb
wandb/debug-internal.log
wandb/debug.log
wandb/latest-run
wandb/debug-internal.log
wandb/debug.log
wandb/latest-run
FMG_project\models\saved_models
*.pt

cuda-repo-ubuntu2204-12-3-local_12.3.1-545.23.08-1_amd64.deb
FMG_project.zip

.conda/