wandb/
# wandb/debug-internal.log
# wandb/debug.log
# wandb/latest-run
# wandb/debug-internal.log
# wandb/debug.log
# wandb/latest-run
# *.pt
*.zip
# FMG_project.zip

.conda/
.vscode/
.vscode/settings.json
.conda/conda-meta/history
